* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

/* TOP-SECTION */
.top-section {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 40vh;
}

/* NAV-BAR SECTION */

.nav-bar {
    background-color: green;
    display: flex;
    justify-content: space-between;
}

.left-links {
    display: flex;
    background-color: red;
    padding: 5px;
    width: 200px;
    list-style: none;
    gap: 5px;
    align-items: center;
}

a {
    text-decoration: none;
}

.middle-links {
    display: flex;
    background-color: yellow;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    align-items: center;
}

.right-links {
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    color: black;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 8px;
}

.top-container {
    display: flex;
    background-color: bisque;
    padding: 50px;
    justify-content: center;
    gap: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: 500px;
}

/* MAIN SECTION */
.main-container {
    display: flex;
    flex-direction: column;
}

.main-top {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.short-menu {
    display: flex;
    justify-content: space-around;
}

.view-menu {
    margin-top: 10px;
}

/*FOOTER SECTION */

.footer {
    margin-top: 110px;
}

.copyright {
    text-align: center;
    margin-top: 5px;
}

.social-media-container {
    display: flex;
    width: 150px;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.fa {
    color: black;
}